.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;
}

.main text {
    font: 12px sans-serif;
}

.miniItem {
    fill-opacity: .5;
}


.brush .extent {
    stroke: #fff;
    fill-opacity: .1;
    shape-rendering: crispEdges;
}

.sprintRect {
    fill: steelblue;
    fill-opacity: .2;
    stroke-width: 2;
    stroke: white;
}

.sprintRectMain {
    fill: steelblue;
    fill-opacity: .3;
    stroke-width: 2;
    stroke: white;
}

.sprintText {
    fill: grey;
    font-size: small;
}

.sprintTextMain {
    fill: grey;
    font-size: larger;
}

.quarterRect {
    fill: steelblue;
    fill-opacity: .4;
    stroke-width: 2;
    stroke: white;
}

.quarterText {
    fill: grey;
    font-size: small;
}