.chart {
    shape-rendering: crispEdges;
}


.sprintRect {
    fill: steelblue;
    fill-opacity: .3;
    stroke-width: 2;
    stroke: white;
}

.sprintText {
    fill: grey;
    /*font-size: large;*/
}


.quarterText {
    fill: rgb(88,88,88);
    /*font-size: large;*/
}

.quarterRect {
    fill: steelblue;
    fill-opacity: .5;
    stroke-width: 2;
    stroke: white;
}

.todayLine {
    opacity: .5;
}