.chart {
    shape-rendering: crispEdges;
}


.sprintRectMain {
    fill: steelblue;
    fill-opacity: .3;
    stroke-width: 2;
    stroke: white;
}

.sprintTextMain {
    fill: grey;
    /*font-size: large;*/
}


.quarterTextMain {
    fill: rgb(88,88,88);
    /*font-size: large;*/
}

.quarterRectMain {
    fill: steelblue;
    fill-opacity: .5;
    stroke-width: 2;
    stroke: white;
}

.todayLine {
    opacity: .5;
}